<section class="container page">

    <h1>Profil utilisateur</h1>

    <div class="grid">

        <div class="card profile-card">

            <h2>Informations personnelles</h2>

            <p><strong>Nom :</strong> Mechergui</p>
            <p><strong>Prénom :</strong> Amine</p>
            <p><strong>Email :</strong> amine@email.com</p>

            <button class="btn">
                Modifier profil
            </button>

        </div>

        <div class="card history-card">

            <h2>Historique des réservations</h2>

            <div class="reservation-item">
                <h3>Toyota Corolla Hybrid</h3>
                <p>3 jours</p>
            </div>

            <div class="reservation-item">
                <h3>BMW Série 3</h3>
                <p>2 jours</p>
            </div>

        </div>

    </div>

</section>