<section class="container page">
    <div class="card about-card">

        <h1>À propos</h1>

        <p>
            CARSOLYSE RentCar est une plateforme moderne de location de voitures
            qui facilite :
        </p>
        <ul>
            <li>la recherche</li>
            <li>la comparaison</li>
            <li>la réservation de véhicules</li>
        </ul>


        <h2>Notre mission</h2>

        <ul>
            <li>Offrir une expérience simple et rapide.</li>
            <li>Garantir une réservation sécurisée.</li>
            <li>Proposer des véhicules adaptés à tous les besoins.</li>
        </ul>

        <h2>Services</h2>

        <ul>
            <li>Location courte durée</li>
            <li>Location longue durée</li>
            <li>Véhicules économiques</li>
            <li>Véhicules premium</li>
            <li>SUV et véhicules familiaux</li>
        </ul>

    </div>
</section>