.about-card {
  padding: 34px;
}

.about-card h1 {
  margin-bottom: 20px;
}

.about-card h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.about-card p {
  line-height: 1.8;
  color: #555;
}

.about-card ul {
    margin-left: 20px;
    padding-left: 20px;
}

.about-card li {
    margin-bottom: 10px;
    line-height: 1.7;
}